<div class="whole-page">
  <nav class="left-nav-bar">
    <div class="header">
      <p>PIARA  </p>
      <p>SANDHU</p>
    </div>

    <div class="sep-line"></div>

    <div class="list-items">
      <ul>
        <li><%= link_to "Portfolio", portfolio_url %></li>
        <li><%= link_to "Tutorials", tutorials_url %></li>
        <li><%= link_to "Blog", blog_url %></li>
        <li><%= link_to "About Me", aboutme_url %></li>
      </ul>
    </div>

    <div class="sep-line"></div>

    <div class="image-bar">
      <a href="https://github.com/piara108"><%= image_tag("github-icon.png", :alt => "github", :class => "image") %></a>
      <a href="https://www.linkedin.com/in/piarasandhu"><%= image_tag("linkedin-icon.png", :alt => "linkedin", :class => "image") %></a>
      <a href="mailto:piarasandhu108@gmail.com"><%=  image_tag("email-icon.png", :alt => "email", :class => "image") %></a>
      <a href="https://twitter.com/sikh_n_destroy"><%= image_tag("twitter-icon.png", :alt => "twitter", :class => "image") %></a>
      <a href="http://stackexchange.com/users/3317568/piara-sandhu"><%= image_tag("stackoverflow-icon.png", :alt => "stack", :class => "image") %></a>
    </div>
  </nav>

  <div class="title-and-content">
    <div class="title-bar">
      <p class="page-title">About Me</p>
    </div>

    <div class="body-content">
      <div class="body-text">
        <div class="actual-content">
          <div class="image-me">
            <%= image_tag("me-holding-starfish.jpg", :as =>"me-starfish", :class => "m'image") %>
          </div>

          <p>
            I am a web developer with a focus on Ruby on Rails and JavaScript.
            I graduated from Dev Bootcamp in 2015 where I learned Ruby, Rails,
            HTML/CSS and a little bit of JavaScript.  On my free time, I love
            to play with Java and Android Studio. I have several Arduinos and
            Raspberry Pis languishing in my room while I try to find some
            worthwhile projects. I love the challenges that writing code provides
            and I especially love its little victories.
          </p>

          <p>
            When I'm not writing code I love to travel the world and learn new
            languages. I know a bit of German and I'm currently learning
            French. I look forward to the next time when I can travel to France
            and the UK.
          </p>

          <p>
            I studied marine biology with an emphasise on tropical
            fisheries at U.C. Santa Cruz. I love to explore my native California
            with my friends and family, especially the Bay Area. I'm always
            finding new places to see and things to do.
          </p>

          <p>
            I'm currently searching for a job where I get to work with a great
            team and I get to learn new technologies.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
