<div class="whole-page">
  <nav class="left-nav-bar">
    <div class="header">
      <p>PIARA  </p>
      <p>SANDHU</p>
    </div>

    <div class="sep-line"></div>

    <div class="list-items">
      <ul class="link-set">
        <li class="links"><%= link_to "Portfolio", portfolio_url %></li>
        <li class="links"><%= link_to "Tutorials", tutorials_url %></li>
        <li class="links"><%= link_to "Blog", blog_url %></li>
        <li class="links"><%= link_to "About Me", aboutme_url %></li>
      </ul>
    </div>

    <div class="sep-line"></div>

    <div class="image-bar">
      <%= link_to "https://github.com/piara108", :target => "_blank" do %>
        <%= image_tag("github-icon.png", :alt => "github", :class => "image") %>
      <% end %>

      <%= link_to "https://www.linkedin.com/in/piarasandhu", :target => "_blank" do %>
        <%= image_tag("linkedin-icon.png", :alt => "linkedin", :class => "image") %>
      <% end %>

      <%= link_to "mailto:piarasandhu108@gmail.com", :target => "_blank" do %>
        <%= image_tag("email-icon.png", :alt => "email", :class => "image") %>
      <% end %>

      <%= link_to "https://twitter.com/sikh_n_destroy", :target => "_blank" do %>
        <%= image_tag("twitter-icon.png", :alt => "twitter", :class => "image") %>
      <% end %>

      <%= link_to "http://stackexchange.com/users/3317568/piara-sandhu", :target => "_blank" do %>
        <%= image_tag("stackoverflow-icon.png", :alt => "stack", :class => "image") %>
      <% end %>
    </div>
  </nav>
</div>

<div class="title-and-content">
  <div class="title-bar">
    <p class="page-title">Portfolio</p>
    <p class="under-overlap"></p>
  </div>

  <div class="body-content">
    <div id="body-text">

      <a href="https://github.com/piara108/spare-change", target="_blank">
        <figure>
          <%= image_tag("spare-change.jpg",:alt => "spare-change", :class => "por-img") %>
          <!-- <figcaption>Spare Change</figcaption> -->
        </figure>
      </a>

      <a href="https://github.com/piara108/keiter", target="_blank">
        <figure>
          <%= image_tag("keiter.jpg", :alt => "keiter", :class => "por-img") %>
          <!-- <figcaption>Keiter</figcaption> -->
        </figure>
      </a>

      <a href="https://github.com/piara108/smell-of-water", target="_blank">
        <figure>
          <%= image_tag("smell-of-water.jpg", :alt => "smell-of-water", :class => "por-img") %>
          <!-- <figcaption>The Smell of Water</figcaption> -->
        </figure>
      </a>

      <a href="https://github.com/piara108/dark-and-stormy", target="_blank">
        <figure>
          <%= image_tag("dark-n-stormy.jpg", :alt => "dark-n-stormy", :class => "por-img") %>
          <!-- <figcaption>Dark and Stormy</figcaption> -->
        </figure>
      </a>

      <a href="https://github.com/piara108/animal-facts-app", target="_blank">
        <figure>
          <%= image_tag("animal-facts.jpg", :alt => "animal-facts", :class => "por-img") %>
          <!-- <figcaption>Animal Facts Android App</figcaption> -->
        </figure>
      </a>

      <a href="https://github.com/piara108/signals-from-mars-app", target="_blank">
        <figure>
          <%= image_tag("signals-from-mars.jpg", :alt => "signals-from-mars", :class => "por-img") %>
          <!-- <figcaption>Signals from Mars</figcaption> -->
        </figure>
      </a>

    </div>
  </div>
</div>
